/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color:#2196F3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --nav-hieght: 72px;
    --main-padding: 100px;
    --section-background: #ECECEC;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Cairo", "sans-serif";
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
.main-title{
    margin: 0 auto 80px;
    border: 3px solid black;
    background-color: white;
    width: fit-content;
    padding: 10px 20px;
    font-size: 30px;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    top: 50%;
    left: -30px;
    transform: translateY(-50%);

}
.main-title::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover{
    color: white;
    border: 3px solid white;
    transition-delay: 0.3s;

}
.spikes{
    position: relative;
}
.spikes::after{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
                    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
.dots{
    background-image: url("/imgs/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots-up{
    top: 200px;
    right: 0;
}
.dots-down{
    bottom: 200px;
    left: 0;
}
/* end global rules */
/* start header */
header{
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
header .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: var(--nav-hieght);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    header .logo{
        width: 100%;
        height: 40px;
    }
}
header .main-nav > ul {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    header .main-nav{
        margin: auto;
    }
}
header .main-nav > ul > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
header .main-nav > ul > li > a{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--nav-hieght);
    position: relative;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;
}
@media (max-width: 767px) {
    header .main-nav > ul > li > a{
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
header .main-nav > ul > li > a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    overflow: hidden;
    transition: var(--main-transition);
}
header .main-nav > ul > li > a:hover{
    color: var(--main-color);
    background-color: #FAFAFA;
}
header .main-nav > ul > li > a:hover::before{
    left: 0;
}
header .mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
    header .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
header .mega-menu .image img{
    max-width: 100%;
}
@media (max-width: 991px) {
    header .mega-menu .image{
        display: none;
    }
}
header .mega-menu .links{
    min-width: 240px;
    flex: 1;
}
header .mega-menu .links li{
    position: relative;
}
header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #E9E6E6;
}
@media (max-width: 767px){
    header .mega-menu .links:first-of-type li:last-child{
        border-bottom: 1px solid #E9E6E6;
    }
}
header .mega-menu .links li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #cccccc;
    z-index: -1;
    transition: var(--main-transition);
}
header .mega-menu .links li:hover::before{
    width: 100%;
}
header .mega-menu .links li a{
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
header .mega-menu .links li a svg{
    fill: var(--main-color);
    margin-right: 10px;
}
/* end header */

/* start landing */
.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
    min-height: calc(100vh - 72px);
}
.landing .text{
    flex: 1;
    flex-basis: 45%;
    
}
@media (max-width: 991px) {
    .landing .text{
        text-align: center;
    }
}
.landing .text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media (max-width: 767px) {
    .landing .text h1{
        font-size: 28px;
    }
}
.landing .text p{
    font-size: 24px;
    line-height: 1.8;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
@media (max-width: 991px) {
    .landing .text p{
        margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .text p{
        font-size: 18px;
    }
}
.landing .img {
    flex-basis: 45%;
}
@media (max-width:991px) {
    .landing .img{
        display: none;
    }
}
.landing .img img{
    width: 600px;
    max-width: 100%;
    position: relative;
    animation: up-and-down 5s linear infinite;
}
.landing .go-down{
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .go-down svg{
    width: 40px;
    font-size: 40px;
    animation: bouncing 1.5s infinite;
}
/* end landing */
/* start articles */
.articles{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .container .card{
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.articles .container .card img{
    max-width: 100%;
}
.articles .container .card .content{
    padding: 20px;
    border: 1px solid #E6E6E7;
    
}
.articles .container .card .content h3{
    margin: 0;
}
.articles .container .card .content p{
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .container .card .info{
    padding: 20px;
    border-top: 1px solid #E6E6E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .container .card .info a{
    color: var(--main-color);
    display: block;
    font-weight: bold;
    position: relative;
}
.articles .card:hover .info svg{
    animation: moving-arrow 0.6s linear infinite;
}
.articles .container .card .info  svg{
    color: var(--main-color);
}

/* end articles */
/* start gallery */
.gallery{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .container .card{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0 rgba(0, 0, 0, 0.13), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.gallery .container .image{
    position: relative;
    overflow: hidden;
}
.gallery .container .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    width: 0px;
    height: 0px;
    opacity: 0;
    z-index: 2;
}
.gallery .container .image:hover::before{
    animation: flashing 0.7s;
}
.gallery .container .image img {
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .container .image:hover img{
    transform: rotate(5deg) scale(1.1);
}
/* end gallery */
/* start features */
.features{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: white;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 40px;
}
.features .container .card{
    text-align: center;
    border: 1px solid #ccc;
}
.features .container .image img{
    max-width: 100%;
}
.features .card .image{
    position: relative;
    overflow: hidden;
}
.features .card .image::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.features .quality .image::before{
    background-color: hsl(3, 90%, 58%, 60%);
}
.features .time .image::before{
    background-color: hsl(174, 100%, 29%, 60%);
}
.features .passion .image::before{
    background-color: hsl(199, 98%, 48%, 60%);
}
.features .card .image::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color:  transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .card:hover .image::after{
    border-width: 170px 500px 170px 0px;
}
.features .card h2{
    margin: 0 auto;
    width: fit-content;
    font-size: 40px;
    position: relative;
}
.features .card  h2::after{
    content: "";
    position: absolute;
    left: 15px;
    bottom: -20px;
    width:  calc(100% - 30px);
    height: 5px;
}
.features .quality  h2::after{
    background-color: #f44036;
}
.features .time  h2::after{
    background-color: #009688;
}
.features .passion  h2::after{
    background-color: #03a9f4;
}
.features .card p{
    margin: 30px 0;
    padding: 25px;
    line-height: 2;
    color: #777;
    font-size: 20px;
}
.features .card a{
    display: block;
    margin: 0 auto 30px;
    padding: 10px 30px;
    width: fit-content;
    border-radius: 6px;
    border: 3px solid;
    font-size: 22px;
    font-weight: bold;
    background-color: white;
    position: relative;
}
.features .card a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: var(--main-transition);
}
.features .card a::before{
    z-index: -1;
}
.features .quality a::before{
    background-color:#f44036;
}
.features .time a::before{
    background-color:#009688 ;
}
.features .passion a::before{
    background-color:#03a9f4;
}
.features .card:hover a::before{
    width: 100%;
}
.features .quality a{
    border-color: #f44036;
    color: #f44036;
}
.features  .time a{
    border-color: #009688;
    color: #009688;
}
.features .passion a{
    border-color: #03a9f4;
    color:#03a9f4 ;
}
.features .quality:hover a,
.features .time:hover a,
.features .passion:hover a
{
    color: white;
    z-index: 1;
}
/*
.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}
.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover a{
    background-position: left bottom;
    color: white;
*/
/* end features */
/* start testimonials */
.testimonials{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background);
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 40px;
}
.testimonials .container .card{
    position: relative;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0, 0, 0,0.1);
}
.testimonials .container .card h3{
    margin: 0 0 10px;
}
.testimonials .container .card .image{
    max-width: 100%;
    position: absolute;
    top: -50px;
    right: -10px;
}
.testimonials .container .card .image img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 10px solid var(--section-background);
}
.testimonials .job-title{
    color: #777;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 0;
}
.testimonials .card .stars .filled{
    color: #ffc107;
}
.testimonials .description{
    color: #777;
    line-height: 1.5;
    margin: 0;
}
/* end testimonials */
/* start team members */
.team-members{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: white;
}
.team-members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.team-members .container .card{
    background-color: var(--section-background);
    position: relative;
    padding: 30px 20px 30px;
    margin: 15px 0 15px 50px;
    width: 290px;
    height: 450px;
    border-radius: 10px;
}
.team-members .container .card::after{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: var(--main-transition);
}
.team-members .card:hover::after{
    width: 100%;
    overflow: hidden;
}
.team-members .card:hover img{
    filter: grayscale(100%);
}
.team-members .container img{
    max-width: 100%;
    position: absolute;
    width: 300px;
    top: 60px;
    left: -50px;
    border-radius: 10px;
    z-index: 1;
}
.team-members .iconz{
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 2;
}
.team-members .container .iconz svg{
    display: block;
    margin:  30px 10px;
    color: #666;
    transition: var(--main-transition);
}
.team-members .iconz a:hover svg{
    color: var(--main-color);
}
.team-members .content {
    position: absolute;
    bottom: 0;
}
.team-members .content span{
    font-size: 22px;
    margin-bottom: 0;
    font-weight: bold;
    color: var(--main-color);
    transition: var(--main-transition);
}
.team-members  .card:hover .content span{
    color: #777;
}
.team-members .content p{
    margin-top: 10px;
    margin-bottom: 25px;
}
/* end team members */
/* start services */
.services{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 40px;
}
.services .card{
    background-color: white;
    padding: 20px 20px 0px 0px;
    box-shadow: 0 12px 20px 0 rgb(0, 0, 0, 0.13),
                0 2px 4px 0 rgba(0, 0, 0, 0.12);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}
.services .card::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    width: 0;
    transition: var(--main-transition);
}
.services .card:hover{
    transform: translateY(-10px);
}
.services .card:hover::before{
    width: 100%;
}
.services .card svg{
    display: block;
    margin: 20px auto;
    text-align: center;
    color: #d5d5d5;
    width: 90px;
    height: 90px;
}
.services .card h3{
    text-align: center;
    margin: 20px 0 40px;
    font-size: 26px;
    color: var(--main-color);
}
.services .card .info{
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}
.services .card .info::before{
    content: "0"counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.services .card .info::after{
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}
.services .card a{
    color: var(--main-color);
}
/* end services */
/* start our-skillls */
.skills{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: white;
}
.skills .container{
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .skills .container img{
        display: none;
    }
}
.skills .skillz{
    flex: 1;
}
.skills .skillz .skill h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills .skillz .skill h3 span{
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
}
.skills .skillz .skill .progress{
    height: 30px;
    background-color: #eee;
    position: relative;
    transition: var(--main-transition);
}
.skills .skillz .skill .progress span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
/* end our-skills */
/* start work steps */
.work{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background);
}
.work .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 991px){
    .work .container{
        flex-direction: column;
    }
}
.work .container > img{
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width: 991px) {
    .work .container > img{
        margin: 0 0 50px;
    }
}
.work .container .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.work .container .cards .card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #f6f5f5;
    margin-bottom: 20px;
    padding: 30px;
    border: 2px solid white;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    .work .container .cards .card{
        flex-direction: column;
        text-align: center;
    }
}
.work .container .cards .card::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    width: 0;
    height: 0;
    z-index: -1;
    transition: var(--main-transition);

}
.work .container .cards .card:hover::before{
    width: 100%;
    height: 100%;
}
.work .container .cards .card img{
    width: 64px;
    margin-right: 10px;
}
.work .container .cards .card .content{
    margin: 0;
}
.work .container .cards .card .content h3{
    font-size: 22px;
    margin: 0;
}
.work .container .cards .card .content p{
    line-height: 1.7;
    font-size: 18px;
    color: #777;
    margin: 10px 0 0;
}
/* end work steps */
/* start events */
.events{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: white;
}
.events .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events img{
    max-width: 450px;
}
@media (max-width: 991px) {
    .events img{
        display: none;
    }
}
.events .info{
    flex: 1;
}
.events .info .time{
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}
.events .info .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition);
}
.events .info .time .unit:hover, 
.events .info .time .unit:hover span:last-child{
    border-color: var(--main-color);
}
.events .info .time .unit span{
    display: block;
    transition: var(--main-transitions);
}
.events .info .time .unit span:first-child{
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}
.events .info .time .unit span:last-child{
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
}
.events .title{
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
}
.events .description{
    text-align: center;
    color: #777;
    line-height: 1.7;
    font-size: 19px;
}
.events .subscribe{
    width: 100%;
    margin-top: 50px;
}
.events .subscribe form{
    background-color: #f6f5f5;
    width: fit-content;
    margin: 20px auto;
    padding: 30px 40px;
    width: 600px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media (max-width: 767px) {
    .events .subscribe form{
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}
.events .subscribe form input[type  = "email"]{
    padding: 20px;
    border: none;
    border-radius: 50px;
    flex: 1;
    caret-color: var(--main-color);
}
@media (max-width: 767px) {
.events .subscribe form input[type  = "email"]{
    border-radius: 0;
}
}
.events .subscribe form input[type  = "email"]:focus{
    outline: none;
}
.events .subscribe form input[type  = "email"]::placeholder{
    transition: opacity var(--main-transition);
}
.events .subscribe form input[type  = "email"]:focus::placeholder{
    opacity: 0;
}
.events .subscribe form input[type  = "submit"]{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    .events .subscribe form input[type  = "submit"]{
        border-radius: 0;
    }
    }
.events .subscribe form input[type  = "submit"]:hover{
    background-color: var(--main-color-alt);
}
/* end events */
/* start pricing */
.pricing{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background);
    position: relative;
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 30px;
}
.pricing .card{
    background-color: white;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.pricing .card::before{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}
.pricing .card::after{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    bottom: 0;
    right: 0;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}
.pricing .card:hover::before,
.pricing .card:hover::after{
    width: 100%;
}
@media (min-width: 1200px) {
    .pricing .card.popular{
        top: -20px;
    }
}
.pricing .card.popular .label{
    position: absolute;
    top: 0;
    right: 20px;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 35px;
    width: 40px;
}
.pricing .card.popular .label::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}
.pricing .card .title{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin: 30px 0;
}
.pricing .card img{
    width: 80px;
    margin-bottom: 30px;
}
.pricing .card .price{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.pricing .card .price span:first-child{
    font-size: 60px;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 5px;
}
.pricing .card .price span:nth-child(2){
    line-height: 1.7;
    color: #777;
}
.pricing .card ul{
    text-align: left;
    margin-bottom: 20px;
}
.pricing .card ul li{
    border-top: 1px solid #eee;
    padding: 20px;
    display: flex;
    gap: 6px;
}
.pricing .card ul li svg{
    color: var(--main-color);
    font-weight: 900;
}
.pricing .card a{
    display: block;
    width: fit-content;
    color: var(--main-color);
    font-weight: bold;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    margin: 30px auto 40px;
    padding: 15px 20px;
    transition: var(--main-transition);
}
.pricing .card a:hover{
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color: white;
}
/* end pricing */
/* start video */
.video{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
@media (max-width: 991px) {
    .video .container .holder{
        flex-direction: column;
    }
}
.video .container .holder{
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}
.video .holder .list{
    min-width: 300px;
    background-color: white;
}
.video .holder .list .name{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d4d4d4;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;

}
.video .holder .list ul li{
    padding: 20px;
    border-bottom: 1px solid #d4d4d4;
    transition: var(--main-transition);
}
.video .holder .list ul li:hover{
    color: var(--main-color);
    cursor: pointer;
}
.video .holder .list ul li span{
    display: block;
    margin-top: 10px;
    color: #777;
}
.video .holder .preview{
    padding: 10px;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video .holder .preview img{
    max-width: 100%;
}
.video .holder .preview .info{
    background-color: white;
    margin-top: 10px;
    padding: 20px;
}
/* end video */
/* start stats */
.stats{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-image: url("/imgs/stats.jpg");
    background-size: cover;
    min-height: 300px;
    overflow: hidden;
}
.stats::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.95;
}
.stats h2{
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
.stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    position: relative;
}
.stats .card{
    background-color: white;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    position: relative;
    transition: var(--main-transition);
}
.stats .card:hover{
    opacity: 1;
}
.stats .card::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    transition: 1s;
}
.stats .card::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    top: 0;
    right: 0;
    transition: 1s;
}
.stats .card:hover::before,
.stats .card:hover::after{
    height: 100%;
}
.stats .card svg{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.stats .card .number{
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
}
.stats .card .text{
    font-weight: bold;
    color: var(--main-color);
    font-size: 20px;
    font-style: italic;
}
/* end stats */
/* start discount */
.discount{
    min-height: 100vh;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .discount{
        flex-direction: column;
    }
}
.discount .content{
    text-align: center;
    position: relative;
    padding: 0 20px;
}
.discount .image{
    background-image: url("/imgs/discount-background1.jpg") ;
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}
.discount .image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    opacity: 0.97;
    z-index: -1;
}
.discount .image .content h2{
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .image .content p{
    line-height: 1.6; 
    font-size: 18px;
    max-width: 500px;
}
.discount .image .content img{
    width: 300px;
    max-width: 100%;
    position: relative;
}
.discount .form{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount .form .content h2{
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .form .content input{
    display: block;
    margin-bottom: 25px;
    padding: 15px;
    width: 100%;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 1px solid #ccc;
    caret-color: var(--main-color);
}
.discount .form .content textarea{
    resize: none;
    height: 200px;
    margin-bottom: 25px;
    padding: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    caret-color: var(--main-color);
}
.discount .form input:focus,
.discount .form textarea:focus{
    outline: none;
}
.discount .form .content form{
    width: 300px;
    max-width: 100%;
}
.discount .form .content form input[type = "submit"]{
    display: block;
    width: 100%;
    background-color: var(--main-color);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}
.discount .form .content form input[type = "submit"]:hover{
    background-color: var(--main-color-alt);
}
/* end discount */
/* start footer */
.footer{
    background-color: #191919;
    padding: 70px 0 0;
}
@media (max-width: 767px) {
    .footer{
        text-align: center;
    }
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.footer .container .info h2{
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
    font-weight: bold;
}
.footer .container .info .icons{
    display: flex;
}
@media (max-width: 767px) {
    .footer .container .info .icons{
        justify-content: center;
    }
}
.footer .container .info .icons a{
    background-color: #313131;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: var(--main-transition);
}
.footer .container .info .icons a:first-of-type:hover{
    background-color: #1877f2;
}
.footer .container .info .icons a:nth-of-type(2):hover{
    background-color: #1da1f2;
}
.footer .container .info .icons a:nth-of-type(3):hover{
    background-color: #ff0000;
}
.footer .container .info .icons svg{
    width:35px;
    height: 35px;
    color: #898989;
}
.footer .container .info .text{
    line-height: 2;
    color: #b9b9b9;
}
.footer .container .links li{
    padding: 15px 0;
    transition: var(--main-transition);
}
.footer .container .links li:not(:last-child){
    border-bottom: 1px solid #444;
}
.footer .container .links li a{
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .container .links li:hover{
    padding-left: 10px;
}
.footer .container .links li:hover a{
    color: white;
}
.footer .container .contact .block{
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .footer .container .contact .block{
        flex-direction: column;
        margin-bottom: 10px;
    }
}
.footer .container .contact svg{
    width: 25px;
    height: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
.footer .container .contact .line{
    line-height: 1.7;
    flex: 1;
}
.footer .container .contact .line span{
    display: block;
}
.footer .container .images img{
    width: 78px;
    border: 3px solid white;
    margin-right: 2px;
}
.footer .copy-right{
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
/* end footer  */
/* start animation */
@keyframes up-and-down {
    0%, 
    100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing {
    0%, 
    10%, 
    20%, 
    50%, 
    80%, 
    100%{
        transform: translateY(0);
    }
    40%, 
    60%{
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes moving-arrow {
    100%{
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%, 40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-background {
    0%,
    100%{
        background-image: url("/imgs/discount-background1.jpg");
    }
    50%{
        background-image: url("/imgs/discount-background2.jpg");
    }
}
/* end animation */

